<div class="flex">
  <app-loading *ngIf="loading"></app-loading>
  <div class="flex flex-col p-9" *ngIf="!loading">
    <h1 class="text-3xl font-bold mb-6">Grupos:</h1>
    <div class="flex gap-4 flex-wrap">
      <div class="border w-fit cursor-pointer p-8" *ngFor="let group of groups" (click)="enterGroupInfo(group.id)">
        <h1 class="text-xl">Onde: {{group.address}}</h1>
        <h1 class="text-xl">Dia: {{group.date}}</h1>
        <h1 class="text-xl">Hora: {{group.hour}}</h1>
        <h1 class="text-xl">Trajeto: {{group.length}} kms</h1>
        <h1 class="text-xl">{{group.people}} / {{group.limit}}</h1>
      </div>
    </div>
  </div>
</div>
